{% extends "base.html" %}
{%block content%}
<div class="container mt-5">
    <h2>Registrar Acta</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="propietario">Propietario:</label>
            {{ form.propietario }}
        </div>
        <div class="form-group">
            <label for="estado">Estado:</label>
            {{ form.estado }}
        </div>
        <div class="form-group">
            <label for="id_infrac">ID de Infracción:</label>
            {{ form.id_infrac }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
{%endblock%}