/* Archivo: login.css */

body {
    background-image: url('https://images.pexels.com/photos/4512439/pexels-photo-4512439.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente para mejorar la legibilidad */
    border: none;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.card-header {
    background: #343a40;
    color: #ff7f50;
    border-radius: 10px 10px 0 0;
}

.input-group-text {
    background-color: #343a40;
    color: white;
}

.btn-primary {
    background-color: #ff7f50;
    border-color: #ff7f50;
}

.btn-primary:hover {
    background-color: #4682b4;
    border-color: #4682b4;
}

a {
    color: #ff7f50;
}

a:hover {
    color: #4682b4;
}

.mt-3 {
    color: white;
}

.d-grid {
    color: white;
    text-align: center;
}