{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Atrás</button>   
    <h1>Registrar Nuevo Vehículo</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form class="vcl" method="POST">
        {% csrf_token %}
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" required>

        <button type="submit">Registrar Vehículo</button>
    </form>
</div>
{% endblock %}