{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">
        📄 APELACIONES
    </h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover shadow-sm">
            <thead class="bg-dark text-white text-center">
                <tr>
                    <th>📅 FECHA</th>
                    <th>📝 ASUNTO</th>
                    <th>📂 DOCUMENTOS</th>
                </tr>
            </thead>
            <tbody>
                {% for apelacion in apelaciones %}
                <tr>
                    <td class="align-middle text-center">{{ apelacion.fecha }}</td>
                    <td class="align-middle">{{ apelacion.asunto }}</td>
                    <td class="align-middle text-center">
                        {% if apelacion.documentos %}
                            <a href="{{ apelacion.documentos.url }}" target="_blank" class="btn btn-dark btn-sm">
                                <i class="fas fa-file-pdf"></i> {{apelacion.documentos}}
                            </a>
                        {% else %}
                            <span class="text-muted">No disponible</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
