{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="dashboard-container">
    <!-- Sidebar (solo en dashboard) -->
    <div class="sidebar mb-2 bg-dark" id="dashboard-sidebar">
        <div class="sidebar-header">
            <span class="sidebar-text">{{ request.user.email }}</span>
            <button class="sidebar-toggle bg-dark" onclick="toggleSidebar()">&#9776;</button>
        </div>
        <ul class="contenedor-menu">
            <li>
                <a href="#actas" onclick="toggleDropdown('actas')">
                    <i class="fas fa-file-alt"></i> <!-- Icono de actas -->
                    <span class="menu-text">ACTAS</span>
                </a>

                <a href="#conductores" onclick="toggleDropdown('conductores')">
                    <i class="fas fa-user"></i> <!-- Icono de conductores -->
                    <span class="menu-text">CONDUCTORES</span>
                </a>

                <a href="#vehiculos" onclick="toggleDropdown('vehiculos')">
                    <i class="fas fa-car"></i> <!-- Icono de vehículos -->
                    <span class="menu-text">VEHÍCULOS</span>
                </a>

                <a href="#infracciones" onclick="toggleDropdown('infracciones')">
                    <i class="fas fa-exclamation-triangle"></i> <!-- Icono de infracciones -->
                    <span class="menu-text">INFRACCIONES</span>
                </a>

                <a href="#reportes">
                    <i class="fas fa-chart-bar"></i> <!-- Icono de reportes -->
                    <span class="menu-text">REPORTES</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Contenido principal del dashboard -->
    <div class="dashboard-content" id="dashboard-content">
        <div id="actas" class="content-section">{% include 'templates_actas/lista_actas.html' %}</div>
        <div id="conductores" class="content-section">{% include 'templates_drivers/listar_conductor.html' %}</div>
        
    </div>
</div>


{% endblock %}