{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">📊 ESTADÍSTICAS SEMANALES</h1>
    
    <div class="row justify-content-center">
        <!-- Total de Actas Registradas -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow border-dark text-bg-info">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">📄 Total de Actas Registradas</h5>
                    <p class="card-text display-4 fw-bold">{{ total_actas_registradas }}</p>
                </div>
            </div>
        </div>

        <!-- Total de Actas Apeladas -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow border-dark text-bg-warning">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">⚖️ Total de Actas Apeladas</h5>
                    <p class="card-text display-4 fw-bold">{{ total_actas_apeladas }}</p>
                </div>
            </div>
        </div>

        <!-- Porcentaje de Infracciones -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow border-dark text-bg-danger">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">🚨 Porcentaje de Infracciones</h5>
                    <p class="card-text display-4 fw-bold">{{ porcentaje_infracciones }}%</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Reportes -->
     <H1 class="text-center">REPORTES</H1>
    <div class="content-center mt-4">
        <div>
            <H4>REPORTES DE ACTAS PAGADAS</H4>
            <a href="{% url 'reporte_pagados' %}" class="btn btn-success">
                GENERAR PDF
            </a>
        </div>
        <div>
            <H4>RREPORTES DE ACTAS NO PAGADAS</H4>
            <a href="{% url 'reportes_no_pagados' %}" class="btn btn-danger">
                GENERAR PDF
            </a>
        </div>
        <div>
            <H4>REPORTES DE ACTAS APELADAS</H4>
            <a href="{% url 'reporte_actas_apeladas' %}" class="btn btn-warning">
                GENERAR PDF
            </a>
        </div>
    </div>

</div>
{% endblock %}
