{% extends "base.html" %}

{% load static %}
{%block content%}
<div class="container mt-5">
    <h2>Editar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <h3>Cambiar Contraseña</h3>
        {{ password_form.as_p }}
        <table>
            <td>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </td>
            <td>
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Atrás</button>
            </td>
        </table>
    </form>
</div>
{%endblock%}